.login {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#8992af, rgb(204, 207, 209));
}

.containers {
  width: 75%;
  height: 550px;
  margin-top: 20px;
  background-color: #e2e1e9;
  position: absolute;
  box-shadow: 0 0 20px (0, 0, 0, 0.4);
  border-radius: 20px;
}

.img {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgb(229, 234, 238);
  left: 0;
  top: 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.login-section {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 56%);
  display: flex;
  justify-content: center;
}

.form-box {
  position: relative;
  right: 30px;
  bottom: 30px;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  flex-direction: column; 
}

.form-box h2 {
   font-size: 35px;
 position: relative;
  /* bottom: 70px; */
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: #29609c ; 
}
.form-box p{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  position: relative;
  /* top: -45px; */
  color: #29609c ;

}
.input-box {
  /* height: 30px; */
  width: 55%;
  /* border: 2px solid #888; */
position: relative;
top: 15px;
 
  margin-top: 10px;
 display: flex;
 flex-direction: column;
  border-radius:8px;


}

.btnbrder {
  border: none;
}

.input-box input {
  background: white;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 8px;
  padding-left: 20px;


}

.input-box label {
 font-size: 15px ;
 color: #888;
 font-weight: 200;
position: relative;
top: 5px;
left: 5px;
 
}
/* span .password{
 position: relative;
 bottom: 55px;
 left: 40px;
} */

/* .input-box input:focus ~ label,
.input-box input:valid ~ label{ 
  top: -6px;
} */
button{
  display: flex;
  align-items: center;
  border-radius: 8px;

}
.input-box .btn {
  background-color: #7a86ac;
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  pointer-events: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  box-shadow: none;

}
.passwrd{
 position: relative;
  top: -5px;
  right: 40px;
 font-size: 12px;
}
.mail{
  position: relative;
   top: 15px;
   right: 55px;
  font-size: 12px;
}
.input-box .eyeicon{
  position: relative;
 left: 250px;
 bottom: 32px;
}
@media (max-width: 576px) {
  .img {
    display: none;
  }

  .form-box {
    display: block;
  }
}
@media (max-width:1440px){
  .passwrd{
    position: relative;
     top:0;
     right: 38px;
    font-size: 12px;
   }
   .mail{
     position: relative;
      top: 12px;
      right: 50px;
     font-size: 12px;
   }
   .input-box .eyeicon{
     position: relative;
    left: 230px;
    bottom: 27px;
   }
}
@media (max-width: 1024px){
  .input-box{
    width: 250px;
  }
  .passwrd{
    position: relative;
     top: -2px;
     right: 20px;
    font-size: 12px;
   }
   .mail{
     position: relative;
      top: 15px;
      right: 40px;
     font-size: 12px;
   }
   .input-box .eyeicon{
    position: relative;
   left: 220px;
   bottom: 27px;
  }
}
@media (max-width: 768px) {
  
  .form-box{
    width: 400px;
  }
 
  .form-box h2{
    font-size: 25px;
  
  }
  .input-box{
    width: 200px;
  }
  .input-box label{
    font-size: 12px;
  }
  .input-box input {
    height: 35px;

  }
 button{
    
   position: relative;
  
 
  
    
  }
  .input-box .btn{
    width: 60%;
  }
  .passwrd{
    position: relative;
     top: -5px;
     right: 0px;
    font-size: 12px;
   }
   .mail{
     position: relative;
      top: 15px;
      right: 15px;
     font-size: 12px;
   }
   .input-box .eyeicon{
    position: relative;
   left: 170px;
   bottom: 27px;
  }
  }
 
@media (max-width: 425px) {
  .login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 500px;
  }
  .form-box {
    display: flex;
    justify-content: center;
    position: relative;
     left: 10px;

 
    padding: 10px;
  }
  .form-box h2{
    font-size: 25px;
  }
  .input-box{
    display: flex;
    justify-content: center;
  }
  .input-box input{
    height: 30px;
    padding: 3px;
  }
  
.input-box label{
  font-size: 12px;
}
.mail{
  position: relative;
   top: 12px;
   right: 15px;
  font-size: 12px;
}
}

@media (max-width: 375px){
  .login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 282px;
    height: 500px;
  }
  .form-box {
    display: flex;
    justify-content: center;
    position: relative;

   left: 0;
 
    padding: 10px;
  }
  .mail{
    position: relative;
     top: 12px;
     right: 16px;
    font-size: 12px;
  }
}
@media (max-width: 325px){
  .login-section{
    width: 240px;
  }
}