*{
  margin:0;
   padding:0;
   box-sizing: 0;
}
.contain{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outerborder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 8px double #2a619d;
  height: 1020px;
  width: 750px;
  /* background-color: rgb(249, 250, 252); */
 
}
.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:max-content;
  width: fit-content;
  /* z-index: 0; */

}
.background img{
position :absolute;
opacity:20%;
transform: translate(-50%,17%);
width: 700px;
height: 700px;
z-index:  5;
}
.background2 img{
  position :absolute;
/* filter: brightness(100%); */
transform: translate(-50%,1%);
opacity: 40%;
width: 760px;
height: 1050px;
z-index: 10;

}
.background3 img{
  position :absolute;
opacity: 45%;
 /* filter: brightness(100%); */
transform: translate(-50%,-2%);
width: 830px;
height: 1130px;
/* z-index: 80; */
}
.logo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.logo img{
height: 100px;
width:450px ;
display: flex;
justify-content: center;
margin-bottom: 35px;
margin-top: 35px;
z-index: 40;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  z-index: 40;
}
header h1{
  font-size: 70px;
  font-family: "Crimson Text", serif;
  color: #0c1929;
  margin-bottom: 25px;
  letter-spacing: 0.1cm;
}
.header p{
  font-size: 32px;
  color:#2a619d;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
}
header span{
  font-family: "Crimson Text", serif;
  /* color: #173352; */
  font-size: 105px;
}
.certificate-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  z-index: 30;

}
.certificate-info p{
font-size: 25px;
font-weight: 700;
color:#2a619d;
margin-bottom: 30px;
}
.certificate-info h4{
  border-bottom: 2px dashed black;
  font-size: 30px;
  width: max-content;
  margin-bottom: 30px;

}
.name{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;

}
.name h4{
 padding-left:20px;
 padding-right: 20px;
}
.name p{
  margin-top: 25px;
}
  .info{
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info h4{
    width :500px;
    text-align: center;
  }
  .id{
     
    z-index: 40;
  }
  .id h5{
    font-weight: 700;
    color: #10355c;
    font-size: 23px;
    margin-top: 20px;
    /* height: 30px; */
  }
.period{
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  align-items: center;
  margin-bottom: 15px;
}
.period p{
    margin-top: 10px;
}
.period h4{
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}
.grade{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  
}
.grade h4{
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}
.sign-date{
display:flex;
flex-direction: row;
  justify-content: space-evenly;
  height: 150px;
  width: 700px;
  font-size: 18px;
  z-index: 40;

  
}
.date-left .dt{
  border-bottom: 1px  black solid;
  margin-top: 20px;
}
.date-left p{
  margin-bottom: 0px;
  padding: 0px 10px 0px 10px;
}
.date-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
position: relative;

}
.sign-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}
.sign-right img{
  width: 110px;
  height: 61px;
  border-bottom: 1px black solid;
padding: -20px;

}
.hologram-sticker img{
height: 220px;
width: 220px;
position: relative;
bottom: 50px;
}
.cname{
  display: flex;
  flex-direction:row;
  justify-content: center;
  z-index: 40;
}
.cname img{
  height: 140px;
  width: 130px;
  margin: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
}
 .cname  .img5{
  height: 80px;
  width: 70px;
  position: relative;
top: 35px;
}
.cname  .img3{
  height: 130px;
  width: 120px;
  position: relative;
top: 10px;
}
.cname .img4{
  margin-top: 8px;
}

/* @media screen and (max-width:2560px){
  .outerborder {
    width:40%;
    height: auto;
  }
  .certificate-info h4{
    font-size: 16px;
  }
  .name{
    margin-bottom: 10px;
  }
  .info{
    margin-bottom: 20px;
  }
} */

@media screen and (max-width:1440px){
  .outerborder {
    width:56%;
    height: auto;
  }
  .background img{
    position :absolute;
    opacity:20%;
    transform: translate(-50%,0%);
    width: 700px;
    height: 700px;
    z-index:  5;
    }
    .background2 img{
      position :absolute;
    /* filter: brightness(100%); */
    transform: translate(-50%,0%);
    width: 740px;
    height: 1000px;
    z-index: 30;
    
    }
    .background3 img{
      position :absolute;
      opacity: 0.1;
     /* filter: brightness(100%); */
    transform: translate(-50%,-5%);
    width: 790px;
    height: 1090px;
    z-index: 6;
    }
    header h1{
      letter-spacing: 0;
    }
  .cname img{
    width: 80px;
    height: 80px;
    margin: 0px 15px 0px 15px;
  }
  .cname .img5{
    height: 70px;
    width: 70px;
    position: relative;
    top: 5px;
  }
  .cname  .img3{
    height: 100px;
    width: 100px;
    position: relative;
top: -8px;
  }
  .cname .img4{
    margin-top: 0px;
  }
}
@media screen and  (max-width: 1024px) {
  .outerborder {
    width: 66%;
    height: auto;
  }
  .background2 img{
    width: 600px;
    height: 900px;
  }
  .background3 img{
    position :absolute;
    opacity: 0.5;
   /* filter: brightness(100%); */
  transform: translate(-50%,-2%);
  width: 740px;
  height: 920px;
  z-index: 60;
  }
  .logo img{
    height: 70px;
    width: 300px;
  }
  header h1{
    font-size: 45px;
    letter-spacing: 0;
  }
  header span{
    font-size: 65px;
  }
  header p{
    font-size: 25px;
  }
  .certificate-info h4{
    border-bottom: 2px dashed black;
    font-size:20px ;
  }
  .certificate-info p{
    font-size: 22px;
  }
  .name p{
    margin-bottom: 30px;
  }
  header p{
    margin-bottom: 0;
  }
  .name{
    margin-bottom: 0;
  }
  .info{
    margin-bottom: 20px;
  }
  .date-left{
    margin-left: 40px;
  }
  .sign-right{
     margin-right: 10px;
  }
  .hologram-sticker img{
    height: 120px;
   width: 120px;
   position: relative;
   top: 2px;
  }
  .cname .img5{
    height: 70px;
    width: 70px;
    position: relative;
    top: 5px;
  }
  .cname  .img3{
    height: 90px;
    width: 90px;
    position: relative;
    top: -1px;

  }
  .cname .img4{
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .outerborder {
    height: auto;
    width: 550px;
  }

  .background img {
    width: 500px;
    height: auto;
  }

  .background2 img {
    width: 500px;
    height: 720px;
  }

  .background3 img {
    width: 600px;
    height: 780px;
    opacity: 0.5;




  }

  .logo img {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  header h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  header p {
    font-size: 25px;
    margin-bottom: 15px;
    letter-spacing: 0;
  }

  header span {
    font-size: 70px;
  }

  .certificate-info p {
    font-size: 18px;
  }

  .certificate-info h4 {
    font-size: 22px;
  }

  .name h4 {
    padding-left: 10px;
    margin-bottom: 0.5px dashed black;
  }

  .name p {
    margin-top: 15px;
  }

  .info h4 {
    width: 200px;
    font-size: 18px;
    margin-bottom: 0.5px dashed black;
  }

  .id h5 {
    font-size: 20px;
  }

  .period h4 {
    font-size: 16px;
    margin-bottom: 0.5px dashed black;
  }

  .grade h4 {
    font-size: 16px;
    margin-bottom: 0.5px dashed black;
  }

  .sign-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 90%;
  }
  .cname img{
    margin: 0px 5px 0px 5px;
  }
  .cname .img5{
    height: 60px;
    width: 60px;
    position: relative;
    top: 10px;
  }
  .cname  .img3{
    height: 80px;
    width:80px;
    position: relative;
    top: 0px;
 
  }
  .cname .img4{
    margin-top: 0px;
  }
}

@media screen and (max-width: 576px) {
  .outerborder {
    width: 80%;
  }
  .background img {
    width: 400px;
    height: 400px;
  }
  .background2 img {
    width: 250px;
    height: 480px;
  }
  .background3 img{
    opacity: 0.5;
  }
  .logo img {
    width: 250px;
    height: 50px;
  }
  header h1 {
    font-size: 25px;
    letter-spacing: 0;
  }
  header span {
    font-size: 40px;
  }
  header p {
    font-size: 14px;
  }
  .certificate-info h4{
    margin-bottom: 0.3px dashed black;
  }
  .certificate-info p {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .outerborder {
    width: 95%;
    height: 570px;
  }
  .background img {
    width: 250px;
    height: 250px;
    transform: translate(-50%,27%);

  }
  .background2 img {
    width: 300px;
    height: 500px;
  }
  .background3 img{
    height: 500px;
    width: 350px;
    opacity: 0.5;

  }
  .logo img {
    width: 200px;
    height: 40px;
    z-index: 40;
  }
  header{
    z-index: 40;
  }
  header h1 {
    font-size: 25px;
  }
  header span {
    font-size: 40px;
  }
  header p {
    font-size: 15px;
    margin: 0;
  }
.name p{
 position: relative;
bottom: 18px;
}
.period p{
  margin: 0;
}
.certificate-info{
  z-index: 40;
}
  .certificate-info p {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .certificate-info h4{
    font-size: 13px;
  }
  .hologram-sticker img{
    height: 70px;
    width: 70px;
  }
  .period h4{
    font-size: 12px;
    margin-bottom: 0.4px dotted black;
    padding: 0;
  }
  
  .info{
   position: relative;
   bottom: 15px;
  }
  .info p{
    margin-bottom: 10px;
  }
  .period{
    position: relative;
    bottom: 38px;
  }
 .grade{
  position: relative;
  bottom: 50px;
  }
  .period p{
   position: relative;
   bottom: 15px;
  }
  .sign-date{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 40;
    position: relative;
    bottom: 48px;
  }
  .sign-date p{
  font-size: 10px;
  }
  .grade p{
    position: relative;
    bottom: 15px;
  }
  .date-left .dt{
    margin-top: 15px;
  }
  .date-left {
    margin-left: 20px;
  }
    .date-left p{
      margin-bottom: 0px;
    }
  .sign-right img{
    width: 40px;
    height: 20px;
    border-bottom: 1px black solid;
    margin-top: 35px;
    width: 50px;
  }
  .cname{
    position: relative;
    bottom: 38px;
  }
  .cname img{
    height: 50px;
    width: 50px;
    margin: 0px 3px 0px 3px;
    z-index: 40;
  }
  .cname .img5{
    height: 35px;
    width: 35px;
    position: relative;
    top: 10px;
  }
  .cname  .img3{
    height: 50px;
    width: 50px;
    position: relative;
    top: 1px;
 
  }
.id h5{
  font-size: 12px;
  position: relative;
  bottom: 60px;
}
.cname .img4{
  margin-top: 0px;
}
}



@media screen and (max-width: 375px) {
  .outerborder {
    width: 95%;
    border:#2a619d 4px double ;
    height: 500px;
  }
  .background img {
    width: 250px;
    height: 250px;
  }
  .background2 img {
    width: 250px;
    height: 400px;
  }
  .background3 img{
    height: 450px;
    width: 300px;
    opacity: 0.5;
 

  }
  .logo img {
    width: 180px;
    height: 35px;
    margin-bottom: 8px;
    margin-top: 20px;
  }
  header h1 {
    font-size: 26px;
    margin-bottom: 0px;
    letter-spacing: 0;
  }
  header span {
    font-size: 37px;
    margin-bottom: -10px;
  }
  header p {
    font-size: 14px;
    margin-bottom: 0;
    
  }
  .info{
    position: relative;
    bottom: 12px;
  }
  .period{
    position: relative;
    bottom: 19px;
  }
  .grade{
    position: relative;
    bottom: 35px;
  }

  .certificate-info p {
    font-size: 10px;
  }
  .certificate-info h4{
    font-size: 11px;
    border-bottom: 1px dotted;
  }
  .sign-date{
    position: relative;
    bottom: 40px;
  }
  .cname {
    height: 50px;
    width: 50px;
    margin:0;
    position: relative;
    bottom: 40px;
  }
  .cname .img5{
    height: 35px;
    width: 35px;
    position: relative;
    top: 8px;
    left: 4px;
  }
  .hologram-sticker img{
    height: 60px;
    width:60px;
    
  }
  .id h5{
    font-size: 11px;
    position: relative;
    bottom: 54px;
  }
  .sign-date p{
    font-size: 8px;
    }
    .date-left .dt{
      margin-top: 15px;
    }
      .date-left p{
        margin-bottom: 0px;
      }
    .sign-right img{
      width: 50px;
      height: 40px;
      border-bottom: 1px black solid;
    }
    .cname  .img3{
      height: 40px;
      width: 40px;
      position: relative;
    top: 5px;
    }
    .cname .img4{
      margin-top: 0px;
    }
}

@media screen and (max-width: 320px) {
  *{
    margin: 0;
    padding: 0;
  }
  .outerborder {
    border: 2px double #2a619d;
    width: 90%;
    height: 390px;
  }
  .background img {
    width: 250px;
    height: 250px;
    transform: translate(-50%,7%);
    
  }
  .background2 img {
    width: 200px;
    height: 350px;
    z-index: 30;
  }
  .background3 img{
    height: 450px;
    width: 300px;
    opacity: 0.5;
   
  }
  
  .logo img {
    width: 150px;
    height: 30px;
    margin-top: 30px;
  }
  .name{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: -15px;


  }
  .info{
    margin-bottom:2px;
    }
  .info h4{
    width: 200px;
  }
  header{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    align-items: center;
  }
  header h1 {
    font-size: 20px;
    margin:0;
    letter-spacing: 0;
  }
  header span {
    font-size: 28px;
  }
.name{
  margin-bottom: -20px;
}
.period{
 position: relative;
 bottom: 13px;
}
  header p {
    font-size: 12px;
    margin: 0;
  }

  .certificate-info p {
    font-size: 8px;
  }
  .certificate-info h4{
    font-size: 9px;
    border-bottom: 0.3px dashed black;
   
    
  }
  .grade{
    position: relative;
    bottom:25px;
  }
  .cname img{
    height: 40px;
    width: 40px;
    margin:0;
  }

.sign-date{
  width: 300px;
  height: 50px;
  position: relative;
  bottom: 35px;
 
}
  .sign-date p{
    font-size: 6px;
   
    }
    .sign-right img{
      width: 40px;
      height: 20px;
      border-bottom: 1px black solid;
      margin-top: 16px;
    }
    .date-left{

      padding-left:30px;
    }
    .id h5{
  font-size: 7px;
       position: relative;
       bottom: 60px;
    }
    .sign-right{
      padding-right: 40px;
      margin-top: 27px;
    }
    .hologram-sticker img{
      height: 60px;
      width:60px;
      position: relative;
      top: -20px;
      
    }
 .period h4{
  font-size: 7px;
  border-bottom: 1px dashed black;
 }
 .btn {

  font-size: 14px;
  padding: 8px 12px;
}
.cname {
position: relative;
bottom: 25px;
}
.cname .img5{
  height: 30px;
  width: 30px;
  position: relative;
  top: 6px;
}
.cname  .img3{
  height: 30px;
  width: 30px;
  position: relative;
top: 5px;
}
.cname .img4{
  margin-top: 0px;
}
}
