* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.studentdataview {
  border: 2px solid #f5f5f5;
  border-radius: 8px;
  margin: auto;
  overflow: hidden;
}

/* .photo {
  background-color: white;
  width: 20%;
  border-radius: 15%;
  position: sticky;
  margin-left: 39%;
  margin-top: 7%;
} */
.end {
  margin-left: 50%;
}
.center {
  margin-left: 24%;
}
.hr {
  margin-left: 11%;
}

.save,
.clear {
  background-color: #0070fc;
  color: #fff;
  padding: 5px 19px 5px 19px;
  border: none;
  border-radius: 5px;
}
.studentdataview {
  width: 100%;
  margin: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
