.main-edituser-container {
  margin-top: 30px;
  /* padding-left: 30px; */
  background-color: #fcfcfc;
  width: 99%;
  border: 2px solid #f5f5f5;
  border-radius: 20px;
  margin: auto;
}

.sub-edituser-container {
  /* text-align: center; */
  margin: 0 auto;
}