.resetpassword {
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    margin: auto;
    overflow: hidden;
}



.password-label {
    text-align: end;
}

@media (max-width: 576px) {
    .password-label {
        text-align: start;
        margin-left: 10px;

    }

    .password-input {
        width: 20ch;

    }
}

@media (max-width: 768px) {
    .password-label {

        margin-left: 10px;
    }
}