


.userlist{ 
  
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  margin: auto;
  overflow: hidden;
}
.usertable{ 
  width: 100%;
  margin: auto;
}

.flex{ 
    display: flex;
    justify-content: space-between;
   
}
.filters{ 
    background-color: #0070fc;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.user-data{ 
    display: flex;
    justify-content: space-between;
}
.save , .clear{ 
    background-color: #0070fc;
    color: #fff;
    padding: 5px 19px 5px 19px;
    border: none;
    border-radius: 5px;
  }
  StyledTableCell { 
    padding: 0;
    margin: 0;
  }
  .user-table{ 
    overflow-x: hidden;
  }
  .input-field:hover{ 
    border: hidden;
  }
  input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{ 
        -webkit-appearance: none;
        margin: 0;
    }
    