@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,500&family=Source+Sans+3:wght@400;600;700&display=swap");

.tekslogo {
  /* font-family: "Mooli", sans-serif;
  font-family: "Roboto Mono", monospace; */
  /* font-weight: 1900; */
  font-family: "Nunito", sans-serif;

  letter-spacing: 1px;
}

* {
  font-size: large;
}

.css-17w9904-MuiTypography-root {
  margin: 0;
  font-family: Source Sans Pro,sans-serif;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 1.5;
}
.profilelogo{ 
  width: 100%;
}
.pro-sidebar{ 
  background-color: rgb(153, 153, 192);
}