.dashboard-item{ 
 
  font-weight: 500;
}
.tekslogo {
 letter-spacing: 1px;
}


.css-17w9904-MuiTypography-root {
  margin: 0;
  font-family: inherit !important;
  /* font-size: 35px; */
  font-weight: 500 !important;
  /* font-size: 1rem !important; */
  /* font-size: 18px !important; */
  line-height: 1rem !important;
}
.profilelogo{ 
  width: 100%;
}
.pro-sidebar{ 
  color: black !important;
  background-color: none;
}
.pro-sidebar .pro-menu a{
  color: black !important;

}
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu > .pro-inner-item:before{
  color: black !important;
}
.pro-sidebar .pro-menu a:hover {
  color: black !important; }
  
    .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:focus {
    
      color: black !important; }

      