.fee{ 
    width: 95%;
    border: 2px solid #f5f5f5;
    border-radius: 20px;
    margin: auto;
}
.feedetails{ 
    padding-top: 30px;
    width: 90%;
    margin: auto;
}
.feebtn{ 
    padding: 10px;
    background-color: #0070fc;
    color: #fff;
    border: none;
    border-radius: 5px;
}

