.fee {
  width: 100%;
  background-color: #fff;
}
.feeview {
  border: 2px solid #fff;
  border-radius: 8px;
  margin: auto;
  overflow: hidden;
}
.instalment {
  width: 100%;
  margin: auto;
  padding-top: 30px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.student-input {
  position: relative;
  margin: 20px 0;
}
.student-input label {
  position: absolute;
  top: 2%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 14px;
  padding: 0 5px;
}
.student-input input {
  width: 220px;
  height: 50px;
  font-size: 13px;
  border-radius: 6px;
  padding-left: 10px;
  border: 1.9px solid black;
}
.student-input input:focus ~ label,
.student-input input:valid ~ label {
  top: 0;
  background-color: #fcfcfc;
  color: #4676a0;
}
.payment input,
.payment select {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.updatebtn {
  text-align: start;
}
.feeviewlabel {
  width: 10%;
}
.mul-input {
  position: relative;
  margin: 20px 0;
}
.mul-input label {
  position: absolute;
  top: 2%;
  left: 10%;
  outline: none;

  transform: translateY(-50%);
  font-size: 14px;
  padding: 0 5px;
}
.mul-input select {
  width: 220px;
  height: 50px;
  font-size: 13px;
  border-radius: 6px;
  padding-left: 10px;
  border: 1.9px solid black;
}
.mul-input select:focus ~ label,
.mul-input select:valid ~ label {
  top: 0;
  background-color: #fcfcfc;
  color: #4676a0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hover-container {
  position: relative;
  display: inline-block;
}

.hover-text {
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f8f8;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.hover-container:hover .hover-text {
  display: block;
}
.addfee {
  border: 2px solid #f5f5f5;
  border-radius: 8px;
  margin: auto;
  overflow: hidden;
}
.adding {
  width: 99%;
  margin: auto;
  padding-top: 15px;
}
.textfield {
  width: 22%;
}
.addtofee {
  background-color: #4676a0;
  color: #fff;
  border: none;

  border-radius: 5px;
  margin-top: 20px;
}
.inputgroup {
  position: relative;
  margin: 10px 20px 0px 0px;
}
.inputgroup label {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  font-size: 16px;
  color: black;
  transition: -5s;
  padding: 4px;
}
.inputgroup input {
  width: 10rem;
  /* width: 180px; */
  height: 50px;
  font-size: 13px;
  padding: 0px 12px;
  background: transparent;
  border: 1.2px solid gray;
  outline: none;
  border-radius: 5px;
}
.inputgroup input:focus ~ label,
.inputgroup input:valid ~ label {
  top: 0;
  font-size: 14px;
  color: #4676a0;
  background-color: #fff;
}
.inputgroup-select {
  position: relative;
  margin: 10px 0;
}
.inputgroup-select label {
  position: absolute;
  top: 2%;
  left: 13%;
  outline: none;

  transform: translateY(-50%);
  font-size: 14px;
  padding: 0 5px;
}
.inputgroup-select select {
  /* width: 180px; */
  width: 10rem;
  height: 50px;
  font-size: 13px;
  border-radius: 6px;
  padding-left: 10px;
  margin-left: 11px;
  border: 1.9px solid black;
}
.inputgroup-select select:focus ~ label,
.inputgroup-select select:valid ~ label {
  top: 0;
  background-color: #fff;
  color: #4676a0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
