.fee{ 
    width: 100%;
    background-color: #fff;

}
.feeview{ 
    width: 95%;
     margin: auto;
}
.instalment{ 
    width: 97%;
    margin: auto;
    background-color: #fff;
   
    padding-top: 30px;
    border: 1.5px solid #f5f5f5;
    border-radius: 10px;
 margin-top: 40px;
 margin-bottom: 40px;
}
.payment input , .payment select{ 
 padding: 10px;
 border: 1px solid black;
 border-radius: 10px;
}
.updatebtn{ 
    text-align: start;
}
.update{ 
    padding: 10px 10px 5px 10px;
 margin: 20px 10px 25px 0px;
    background-color: #0070fc;
    color: #fff;
    border-radius: 10px;
    border: none;
   
}
.feeviewlabel{ 
    width: 10%;
}