.logo-picture {
  width: 50%;
}

.invoice {
  border: 1.5px solid black;

  margin: 15px;
  overflow: hidden;

}

.invoice-sideborder {
  border-left: 1.5px solid black;
}

.invoice-border {
  border-bottom: 1.5px solid black;
  /* border-top: 1.5px solid black; */
}

.bold-row {
  border: 5px solid black;
}

.no-rowmargin {
  margin-top: 0;
}

@page {
  size: A4;
  margin: 5px;
  padding: 10px;

}
